.contenido-box {
    height: 160px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #393939;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .contenido-box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 10px rgba(0, 0, 1, 0.41);
  }
  
  .contenido-box-image img {
    width: 100%;
    height: 75px;
    object-fit:cover;
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #393939 100%); */

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.365);
  }
  
  .contenido-box-info {
    padding: 10px; /* Añadimos espacio alrededor del contenido */
    padding-top: 0;
    text-align: left; /* Aseguramos alineación a la izquierda */
}

.contenido-box-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 5px 0; /* Separación entre título y sinopsis */
    color: #fff; /* Texto más visible */
}

.contenido-box-sinopsis {
    font-size: 0.9rem;
    color: #aaa; /* Texto más tenue */
    margin: 0; /* Ajustamos márgenes */
}