.contenido {
    flex-direction: column;
    align-items: center;
    background-color: #393939;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: auto;
  }

  
.contenido-image img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
  }

  .contenido h1{
    font-size: 60px !important; /* sobreescribe el tamaño de la fuente */
    margin: 5%;
    margin-top: 10px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
  }
  .contenido h2{
    font-size: 40px !important; /* sobreescribe el tamaño de la fuente */
    margin: 5%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(190, 190, 190);
  }
  .contenido-info {
    margin-top: 20px;
  }
  
.contenido-info h1,
.contenido-info h2,
.contenido-info p {
  margin: 0px 0;
}

  .contenido-info p {
    font-size: 1rem;
    line-height: 1.3;
    margin: 5px 0;
  }

.contenido-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
  .contenido-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .contenido-button {
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .contenido-button.crear {
    margin-top: 20px;
  }
  
  .contenido-button:hover {
    background-color: #b00710;
  }
  
  .contenido-button.temporadas {
    background-color: #e50914;
  }
  
  .contenido-button.temporadas:hover {
    background-color: #b00710;
  }

.contenido-temporadas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1em;
}  

.contenido-temporadas button{
  margin-left: 2em;
}

.contenido-episodios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0.5em 0 1em 0;
}

.contenido-episodios-box{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 2px solid #6c6c6c;
  border-radius: 8px;
  overflow: hidden;
  background-color: #393939;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  box-shadow: 0 10px 10px rgba(0, 0, 1, 0.41);
  margin: 0 2em 2em 2em;
}

.contenido-episodios-box:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 15px rgba(0, 0, 1, 0.519);
}

.contenido-episodios-box-info{
  padding: 0.5em;
  flex: 0 0 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contenido-episodios-box-info p{
  margin: 0 !important;
  margin-left: 15px !important;
}

.contenido-episodio-image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #393939 100%); */

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.365);
}


.info-ep-titulo{
  font-size: 1.2em;
  padding-top: 5px;
  color: #ffffff; /* Texto más tenue */
}

.info-ep{
  color: #9d9d9d;
  display: flex;
  justify-content: space-between;
}


.contenido-vacio{
  padding-left: 1em;
  color: #aaa;
}

/* Estilos de superposición para mostrar el reproductor encima del contenido */
.overlay {
  position: fixed; /* Fija la superposición en la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que el reproductor esté por encima de todo */
}

.contenido-detail-image img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}


.contenido-actions {
  margin-top: 20px;
}

.error-message{
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-align: center;
  margin-top: 20px;
}

.Like{
  margin-right: 40px !important;
  display: flex;
  align-items: center;
}

.Like div{
  margin-left: 1em;
}

.boton-oscuro{
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dialogo-eliminar{
  background-color: #141414; 
  padding: 30px;
  border-radius: 10px;
  width: 700px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  animation: fadeIn 0.3s ease-in-out; 
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialogo-eliminar div{
  display: flex;
  flex-direction: row;
  margin-top: 1.25em;
}

.dialogo-eliminar button{
  margin: 0 0.625em;
}