.editarContenido {
    align-items: center;
    margin: auto;
    width: 40%;
    padding: 30px;
    border: 2px solid #606060;
    border-radius: 10px;
    background-color: #222;
}

.editarContenido h4 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}
  
.editarContenido label {
    font-size: 16px;
    color: #ccc;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
  
.editarContenido input {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}
  
.editarContenido input:focus {
    border-color: #c1c1c1;
    outline: none;
}



.selector{
    margin-top: 0;
    margin-bottom: 20px;
    width: 60%; /*  no se por que si pongo una cifra random se ajusta perfecto */
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: left;
    background-color: rgba(54, 54, 54, 0.5);  /* Dark background with some transparency */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
  }
  
  .selector label {
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-right: 10px;
  }
  
  .selector select {
    margin-left: 6px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #333; /* Dark border */
    border-radius: 6px;
    background-color: #111; /* Dark background for the select box */
    color: white; /* White text */
    appearance: none; /* Remove default dropdown arrow */
    outline: none;
    transition: all 0.3s ease;
  }

  .selector {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically center */
}

.sinopsis textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    height: 50px;
}