.vista {
  text-align: left;
  padding-bottom: 0px;
}

.vista h2{
  font-size: 1.3rem;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
  color: white;
}
.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 0px;
}

.carousel {
  display: grid;
  width: 100%;
  overflow: hidden;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 30%; /* Ocupa 1/5 del ancho total */
  width: 80px;
  box-sizing: border-box;
  padding: 10px; /* Opcional: Añade espacio entre los items */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.536);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.carousel-button:hover {
  background-color: rgba(7, 7, 7, 0.423);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}


